# White Rhino Trip Exploratory Data Analysis

## Load trip data json

In [11]:
import json
import pandas as pd

In [22]:
df.shape

(1154, 36)

In [21]:
with open('./data/KTA354XA_trip_01.json') as f:
    d = json.load(f)

df = pd.json_normalize(d)
df

,id,deviceId,type,protocol,serverTime,deviceTime,fixTime,outdated,valid,latitude,...,attributes.hdop,attributes.power,attributes.battery,attributes.io68,attributes.adc1,attributes.operator,attributes.odometer,attributes.distance,attributes.totalDistance,attributes.hours
0,5731642,35,None,teltonika,2021-08-16T05:32:07.149+00:00,2021-08-16T05:32:04.000+00:00,2021-08-16T05:32:04.000+00:00,False,True,5.070095,...,0.3,25.353,4.038,0,2549,62130,4168377,0.0,4164234.18,686730980
1,5731656,35,None,teltonika,2021-08-16T05:32:13.924+00:00,2021-08-16T05:32:11.000+00:00,2021-08-16T05:32:11.000+00:00,False,True,5.070095,...,0.3,25.292,4.040,0,2549,62130,4168377,0.0,4164234.18,686730980
2,5731699,35,None,teltonika,2021-08-16T05:32:37.871+00:00,2021-08-16T05:32:35.000+00:00,2021-08-16T05:32:35.000+00:00,False,True,5.070095,...,0.3,28.044,4.038,0,2549,62130,4168377,0.0,4164234.18,686754980
3,5731806,35,None,teltonika,2021-08-16T05:33:37.869+00:00,2021-08-16T05:33:35.000+00:00,2021-08-16T05:33:35.000+00:00,False,True,5.070095,...,0.3,28.383,4.038,0,2549,62130,4168377,0.0,4164234.18,686814980
4,5731900,35,None,teltonika,2021-08-16T05:34:38.727+00:00,2021-08-16T05:34:36.000+00:00,2021-08-16T05:34:36.000+00:00,False,True,5.070095,...,0.3,28.391,4.038,0,2549,62130,4168377,0.0,4164234.18,686875980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1149,5750440,35,None,teltonika,2021-08-16T07:40:14.839+00:00,2021-08-16T07:40:12.000+00:00,2021-08-16T07:40:12.000+00:00,False,True,5.009142,...,0.3,26.848,4.038,0,2637,62130,4214166,0.0,4209930.89,693846980
1150,5750452,35,None,teltonika,2021-08-16T07:40:24.818+00:00,2021-08-16T07:40:22.000+00:00,2021-08-16T07:40:22.000+00:00,False,True,5.009142,...,0.3,26.806,4.038,0,2637,62130,4214166,0.0,4209930.89,693846980
1151,5750474,35,None,teltonika,2021-08-16T07:40:34.818+00:00,2021-08-16T07:40:32.000+00:00,2021-08-16T07:40:32.000+00:00,False,True,5.009142,...,0.3,26.762,4.038,0,2637,62130,4214166,0.0,4209930.89,693846980
1152,5750495,35,None,teltonika,2021-08-16T07:40:44.843+00:00,2021-08-16T07:40:42.000+00:00,2021-08-16T07:40:42.000+00:00,False,True,5.009142,...,0.3,26.729,4.038,0,2637,62130,4214166,0.0,4209930.89,693846980
1153,5750515,35,None,teltonika,2021-08-16T07:40:56.980+00:00,2021-08-16T07:40:52.000+00:00,2021-08-16T07:40:52.000+00:00,False,True,5.009142,...,0.4,26.711,4.038,0,2637,62130,4214166,0.0,4209930.89,693846980

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1154 entries, 0 to 1153
Data columns (total 36 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        1154 non-null   int64
 1   deviceId                  1154 non-null   int64
 2   type                      0 non-null      object
 3   protocol                  1154 non-null   object
 4   serverTime                1154 non-null   object
 5   deviceTime                1154 non-null   object
 6   fixTime                   1154 non-null   object
 7   outdated                  1154 non-null   bool
 8   valid                     1154 non-null   bool
 9   latitude                  1154 non-null   float64
 10  longitude                 1154 non-null   float64
 11  altitude                  1154 non-null   float64
 12  speed                     1154 non-null   float64
 13  course                    1154 non-null   float64
 14  address                   0 non-null      object
 15  accuracy                  1154 non-null   float64
 16  network                   0 non-null      object
 17  attributes.priority       1154 non-null   int64
 18  attributes.sat            1154 non-null   int64
 19  attributes.event          1154 non-null   int64
 20  attributes.ignition       1154 non-null   bool
 21  attributes.motion         1154 non-null   bool
 22  attributes.rssi           1154 non-null   int64
 23  attributes.io200          1154 non-null   int64
 24  attributes.gpsStatus      1154 non-null   int64
 25  attributes.pdop           1154 non-null   float64
 26  attributes.hdop           1154 non-null   float64
 27  attributes.power          1154 non-null   float64
 28  attributes.battery        1154 non-null   float64
 29  attributes.io68           1154 non-null   int64
 30  attributes.adc1           1154 non-null   int64
 31  attributes.operator       1154 non-null   int64
 32  attributes.odometer       1154 non-null   int64
 33  attributes.distance       1154 non-null   float64
 34  attributes.totalDistance  1154 non-null   float64
 35  attributes.hours          1154 non-null   int64
dtypes: bool(4), float64(12), int64(13), object(7)
memory usage: 293.1+ KB

In [23]:
df.columns

Index(['id', 'deviceId', 'type', 'protocol', 'serverTime', 'deviceTime',
       'fixTime', 'outdated', 'valid', 'latitude', 'longitude', 'altitude',
       'speed', 'course', 'address', 'accuracy', 'network',
       'attributes.priority', 'attributes.sat', 'attributes.event',
       'attributes.ignition', 'attributes.motion', 'attributes.rssi',
       'attributes.io200', 'attributes.gpsStatus', 'attributes.pdop',
       'attributes.hdop', 'attributes.power', 'attributes.battery',
       'attributes.io68', 'attributes.adc1', 'attributes.operator',
       'attributes.odometer', 'attributes.distance',
       'attributes.totalDistance', 'attributes.hours'],
      dtype='object')

In [24]:
df.index

RangeIndex(start=0, stop=1154, step=1)

In [27]:
type(df)

pandas.core.frame.DataFrame

In [28]:
df.values

array([[5731642, 35, None, ..., 0.0, 4164234.18, 686730980],
       [5731656, 35, None, ..., 0.0, 4164234.18, 686730980],
       [5731699, 35, None, ..., 0.0, 4164234.18, 686754980],
       ...,
       [5750474, 35, None, ..., 0.0, 4209930.89, 693846980],
       [5750495, 35, None, ..., 0.0, 4209930.89, 693846980],
       [5750515, 35, None, ..., 0.0, 4209930.89, 693846980]], dtype=object)

In [29]:
df.dtypes

id                            int64
deviceId                      int64
type                         object
protocol                     object
serverTime                   object
deviceTime                   object
fixTime                      object
outdated                       bool
valid                          bool
latitude                    float64
longitude                   float64
altitude                    float64
speed                       float64
course                      float64
address                      object
accuracy                    float64
network                      object
attributes.priority           int64
attributes.sat                int64
attributes.event              int64
attributes.ignition            bool
attributes.motion              bool
attributes.rssi               int64
attributes.io200              int64
attributes.gpsStatus          int64
attributes.pdop             float64
attributes.hdop             float64
attributes.power            float64
attributes.battery          float64
attributes.io68               int64
attributes.adc1               int64
attributes.operator           int64
attributes.odometer           int64
attributes.distance         float64
attributes.totalDistance    float64
attributes.hours              int64
dtype: object

In [37]:
df['attributes.adc1']

0       2549
1       2549
2       2549
3       2549
4       2549
        ...
1149    2637
1150    2637
1151    2637
1152    2637
1153    2637
Name: attributes.adc1, Length: 1154, dtype: int64

In [38]:
df.deviceTime

0       2021-08-16T05:32:04.000+00:00
1       2021-08-16T05:32:11.000+00:00
2       2021-08-16T05:32:35.000+00:00
3       2021-08-16T05:33:35.000+00:00
4       2021-08-16T05:34:36.000+00:00
                    ...
1149    2021-08-16T07:40:12.000+00:00
1150    2021-08-16T07:40:22.000+00:00
1151    2021-08-16T07:40:32.000+00:00
1152    2021-08-16T07:40:42.000+00:00
1153    2021-08-16T07:40:52.000+00:00
Name: deviceTime, Length: 1154, dtype: object

In [41]:
df[['deviceTime','attributes.adc1', 'speed', 'attributes.totalDistance']]

,deviceTime,attributes.adc1,speed,attributes.totalDistance
0,2021-08-16T05:32:04.000+00:00,2549,0.0,4164234.18
1,2021-08-16T05:32:11.000+00:00,2549,0.0,4164234.18
2,2021-08-16T05:32:35.000+00:00,2549,0.0,4164234.18
3,2021-08-16T05:33:35.000+00:00,2549,0.0,4164234.18
4,2021-08-16T05:34:36.000+00:00,2549,0.0,4164234.18
...,...,...,...,...
1149,2021-08-16T07:40:12.000+00:00,2637,0.0,4209930.89
1150,2021-08-16T07:40:22.000+00:00,2637,0.0,4209930.89
1151,2021-08-16T07:40:32.000+00:00,2637,0.0,4209930.89
1152,2021-08-16T07:40:42.000+00:00,2637,0.0,4209930.89
1153,2021-08-16T07:40:52.000+00:00,2637,0.0,4209930.89

In [68]:
df[['deviceTime','attributes.adc1']] # error when accessing by index'

                         deviceTime  attributes.adc1
0     2021-08-16T05:32:04.000+00:00             2549
1     2021-08-16T05:32:11.000+00:00             2549
2     2021-08-16T05:32:35.000+00:00             2549
3     2021-08-16T05:33:35.000+00:00             2549
4     2021-08-16T05:34:36.000+00:00             2549
...                             ...              ...
1149  2021-08-16T07:40:12.000+00:00             2637
1150  2021-08-16T07:40:22.000+00:00             2637
1151  2021-08-16T07:40:32.000+00:00             2637
1152  2021-08-16T07:40:42.000+00:00             2637
1153  2021-08-16T07:40:52.000+00:00             2637

[1154 rows x 2 columns]

In [61]:
sel_col = list(range(0,5))
df.iloc[:,sel_col]

           id  deviceId  type   protocol                     serverTime
0     5731642        35  None  teltonika  2021-08-16T05:32:07.149+00:00
1     5731656        35  None  teltonika  2021-08-16T05:32:13.924+00:00
2     5731699        35  None  teltonika  2021-08-16T05:32:37.871+00:00
3     5731806        35  None  teltonika  2021-08-16T05:33:37.869+00:00
4     5731900        35  None  teltonika  2021-08-16T05:34:38.727+00:00
...       ...       ...   ...        ...                            ...
1149  5750440        35  None  teltonika  2021-08-16T07:40:14.839+00:00
1150  5750452        35  None  teltonika  2021-08-16T07:40:24.818+00:00
1151  5750474        35  None  teltonika  2021-08-16T07:40:34.818+00:00
1152  5750495        35  None  teltonika  2021-08-16T07:40:44.843+00:00
1153  5750515        35  None  teltonika  2021-08-16T07:40:56.980+00:00

[1154 rows x 5 columns]

In [81]:

df.loc[[0,10],['deviceTime','attributes.adc1']]

                       deviceTime  attributes.adc1
0   2021-08-16T05:32:04.000+00:00             2549
10  2021-08-16T05:36:34.000+00:00             2859